.city-tile {
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.city-tile .image {
    height: 2.5vh;
    width: 2.5vh;
    object-fit: cover;
    overflow: hidden;
    /* // opacity:0.4; */
    border-radius: 5px;
    margin-top: 0.5vh;
    margin-right: 1vh;
}

.city-tile .details {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.city-tile .title {
    font-size: 1.25rem;
}

.city-tile .subtitle {
    font-size: 0.75rem;
    opacity: 0.5;
}

.city-tile:hover {
    opacity: 0.5;
    background-color: darkslategray;
    cursor: pointer;
}
