/* .country-details {
    border: solid 2px lightblue;
} */

.country-details-item .label {
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.5;
}

.country-details-item .value {
    font-size: 1.25rem;
}