
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1vh;
    border-top: solid 1px #e9eae8;
}

.footer .theme-logo {
    background-image: url("../../../public/sl-logo-dark.svg");
}

.footer .sl-logo {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 360px;
    height: 20px;
}

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */