.home-featured-city {
    margin-top: 1vh;
    margin-right: 1vw;
}

.home-featured-city .map {
    width: 20vw;
    height: 39vh;
    /* //margin-right: 1vw; */
}

.home-featured-city .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-featured-city .details .half {
     width: calc(100%/2);
 }

.featured-city-header {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vh;
}

.featured-city-header .image {
    height: 2.5vh;
    width: 2.5vh;
    object-fit: cover;
    overflow: hidden;
    /* //opacity:0.4; */
    border-radius: 5px;

    margin-top: 0.75vh;
    margin-right: 0.5vw;
    margin-bottom: 0.5vh;
}

.featured-city-header .details {
    display: flex;
    flex-direction: column;
    margin-top: 0.25vh;
}

.featured-city-header .title {
    font-size: 1.25rem;
}

.featured-city-header .subtitle {
    font-size: 0.75rem;
    opacity: 0.5;
}

.featured-city-header:hover {
    opacity: 0.5;
    background-color: darkslategrey;
    cursor: pointer;
    border-radius: 0px;
}
