/* .App {
  text-align: center;
} */

.App {
  background-color: #282c34;
  color: whitesmoke;
  height: 100vh;
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  color: white; */
}

.App-link {
  color: #61dafb;
}
