.coach-header {
    width: 100%;
    border-bottom: solid 1px darkslategrey;
}

.coach-header .flags {
    display: flex;
    flex-direction: row;
}

.coach-header .image {
    height: 6vh;
    border-radius: 5px;
}

.coach-header .label {
    font-size: 2rem;
}