.regions-header {
    border-bottom: solid 1px darkslategrey;
}

.regions-header .image {
    height: 30px;
    width: 30px;
}

.regions-header .label {
    font-size: 2rem;
    font-weight: 1000;
}

.regions-header .menu-item:hover {
    background-color: darkslategrey;
    cursor: pointer;
    /* opacity: 0.5; */
    /* border-radius: 5px; */
}