.content-search-bar {
    background: url(search.png) no-repeat;
    background-position: right;
    background-size: 3vh;
    border: none;
    color: #ffffff;
    height: 3vh;
    width: 100%;
}

.content-search-bar:focus {
    outline: none !important;
    border: none;
    /* // box-shadow: 0 0 10px #719ECE; */
}

.content-search-bar:hover {
    background-color: darkslategray;
    outline: none !important;
    border: none;
    /* // box-shadow: 0 0 10px darkslategray; */
}
