.content-header {
    /* width: 100%; */
    border-bottom: solid 1px darkslategrey;
}

.content-header .image {
    height: 30px;
    width: 30px;
}

.content-header .label {
    font-size: 2rem;
    font-weight: 1000;
}