.list-tile-simple .image {
    height: 2vh;
    width: 2vh;
    object-fit: cover;
    overflow: hidden;
}

.list-tile-simple .title {
    font-size: 1.25rem;
}

.list-tile-simple:hover {
    opacity: 0.5;
    background-color: darkslategray;
    cursor: pointer;
}